.Toolbar {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #02B1D8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    padding: 40px 40px;
    color: white;
    font-size: 40px;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}
